@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-photo/nature-background-nature-view-with-mountain-forest-landscape_951562-838.jpg?w=826');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    padding: 1em 1.5em;
}