nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #152f10;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

.sidebar > li > a {
    color: #29a314;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #16c910;
    font-weight: bold;
}

nav a:hover{
    background-color: #77c674;
    color: #152f10;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.2);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    font-weight: bold;
}

.menu-button {
    display: none;
}

@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .side{
        width: 100%;
    }
}