:root {
    --dark_blue: #03045e;
    --blue_MAIN: #0077b6;
    --bright_blue: rgb(0, 180, 216);
    --light_blue: rgb(144, 224, 239);
    --super_light_blue: rgb(202, 240, 248);
    --grey: rgb(102, 128, 158);
    --rounded: 'Concert One', sans-serif;
    --paragraph: 'New Tegomin', 'sans-serif';
    --pixed: 'Pixelify Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--blue_MAIN);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 180, 216);
    background: linear-gradient(0deg, rgba(0, 119, 182, 1) 0%, rgba(0, 180, 216, 1) 100%);
}

header {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-family: var(--pixed);
    letter-spacing: 5px;
    padding-top: 20px;
}

header img {
    height: 70%;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 0 20px;
}

/*TEXT AREA*/

.area-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.spanParagraph {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em 0;
}

.word {
    display: flex;
    gap: .2em
}

.spanLetter {
    color: var(--light_blue);
    font-size: 1.4rem;
    font-family: var(--paragraph);
    font-weight: bold;
    transition: .3s cubic-bezier(0, 0, 0, 1.0);
}

.spanLetter:hover {
    color: var(--dark_blue);
}

/*GAME ACTIONS*/

.selectedLetter {
    border-bottom: 2px solid var(--super_light_blue);
}

.correctLetter {
    color: var(--blue_MAIN);
}

.wrongLetter {
    color: red;
    text-decoration: line-through;
}

/* Actions Spot */
.actions-spot {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.actions-spot > div {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Misses */
.misses-back * {
    font-size: 1.5rem;
    font-family: var(--paragraph);
}

.misses{
    background-color: var(--light_blue);
    padding: 5px 12px;
    border-radius: 5px;
    font-family: var(--pixed);
}
/*  TIMER   */

.timer {
    font-size: 1.5rem;
    font-family: var(--pixed);
    background-color: var(--light_blue);
    padding: 8px 12px;
    border-radius: 5px;
    text-shadow: 0 0 10px var(--bright_blue);
}

/* Restart Button */

.btn-reset {
    padding: 8px;
    color: var(--dark_blue);
    font-family: var(--paragraph);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;
    border: 2px solid var(--dark_blue);
    border-radius: 7px;
    background-color: var(--light_blue);
    box-shadow: -5px 5px 0 var(--dark_blue);
    user-select: none;
    cursor: pointer;
    transition: all .3s;

}

.btn-reset:hover {
    border-color: var(--light_blue);
    background-color: var(--dark_blue);
    color: var(--light_blue);
    box-shadow: -5px 5px 0 var(--light_blue);
}

.btn-reset:active {
    border-color: var(--light_blue);
    background-color: var(--dark_blue);
    color: var(--light_blue);
    transform: translateX(-5px) translateY(5px);
    box-shadow: none;
}

/*Keyboard AREA*/

/* .area-keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineKeyboard {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    gap: .5em;
    padding: 0 50px;
}

.keyDiv,
.keyBackSpace,
.keyPunctuation,
.cliked,
.keySpace {
    width: 7%;
    height: 2.5em;
    background-color: rgba(144, 224, 239, .6);
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--rounded);
}

.keyBackSpace {
    width: 10%;
}

.keyPunctuation {
    width: 4%;
}

.keySpace {
    width: 40%;
}

.clicked {
    background-color: var(--grey);
} */