:root {
    --dark_blue: #03045e;
    --blue_MAIN: #0077b6;
    --bright_blue: rgb(0, 180, 216);
    --light_blue: rgb(144, 224, 239);
    --super_light_blue: rgb(202, 240, 248);
    --rounded:'Concert One', sans-serif;
    --paragraph: 'New Tegomin', 'sans-serif';
    --pixed: 'Pixelify Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--blue_MAIN);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0, 180, 216);
    background: linear-gradient(0deg,  rgba(0, 119, 182, 1) 0%, rgba(0, 180, 216, 1) 100%);
}

header {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: var(--pixed);
    letter-spacing: 5px;
}

header img {
    height: 80%;
}

main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 0 20px;
}

/*Keyboard AREA*/

.area-keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineKeyboard {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    gap: .5em;
    padding: 0 50px;
}

.keyDiv,
.keyBackSpace,
.keyPunctuation {
    width: 7%;
    height: 2.5em;
    background-color: rgba(144, 224, 239, .6);
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: var(--rounded);
}
.keyBackSpace {
    width: 10%;
}
.keyPunctuation{
    width: 4%;
}

/*TEXT AREA*/

.area-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.spanText {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em 0;
}

.word{
    display: flex;
    gap: .2em
}

.spanLetter{
    color: var(--light_blue);
    font-size: 1.4rem;
    font-family: var(--paragraph);
    font-weight: bold;
}

/*GAME ACTIONS*/

.selectedLetter{
    border-bottom: 3px solid var(--super_light_blue);    
}

.correctLetter{
    color: var(--blue_MAIN);
}
